# Web Framework
fastapi==0.115.14
uvicorn

# Database
sqlmodel
asyncpg
pgvector
cryptography
pydantic-settings

# Configuration
python-dotenv

# HTTP Client
httpx

# File Upload Support
python-multipart

# AI
openai
langchain-core
langchain-openai
langchain

#FastStream
faststream[kafka]


#greennet
greenlet


#youtube
youtube-transcript-api
# Google API Client
google-api-python-client

#trend
serpapi

# isodate
isodate